<div class="buttons">
   <h3>{{buttonHeading}}</h3>
   <button [class.gold]="!goldInactive" [disabled]="goldInactive" (click)="goldInactive = true">Gold</button> <br>
   <button [class.silver]="!silverInactive" [disabled]="silverInactive" (click)="silverInactive = true">Silver</button> <br>
   <button [class.copper]="!copperInactive" [disabled]="copperInactive" (click)="copperInactive = true">Copper</button> <hr>
   <!--button (click)="inactive = !inactive">Activate/Deactivate Buttons</button-->
   <button [disabled]="inactive"
   (mouseover)="inactive = !inactive"
   (mouseleave)="inactive = !inactive"
   (click)="reactivate()">Reactivate all buttons</button>
</div>