.chores{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3vw;
    color: goldenrod;
}

h3 {
    text-decoration: underline;
}

li {
    font-style: italic;
}